@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Sudoku</h1>
   
</div>
@if (TempData["Message"] != null)
{
    <h2>@TempData["Message"]</h2>
}
@if (TempData["RowCheck"] != null)
{
    <h2>@TempData["RowCheck"]</h2>
}
<div class="row">
@using (Html.BeginForm("sudoku", "home"))
{
    <table class="col-md-offset-3" id="myTable">
        @for (int r = 1; r < 4; r++)
        {
        
        <tr class="sectionRow-@r" name="sectionRow_@r">
            @for (int i = 0; i < 3; i++)
            {
                if (i == 2)
                {
                    <td id="sectionRow-@r-sec1-@i" class="sectionEnd"><input class="col-md-offset-5" name="sec1" type="number"/></td>
                }
                else
                { 
                <td id="sectionRow-@r-sec1-@i"><input class="col-md-offset-5"  name="sec1" type="number"/></td>
                }
            }
           
            @for (int i = 0; i < 3; i++)
            {
                if (i == 2)
                {
                    <td id="sectionRow-@r-sec2-@i" class="sectionEnd"><input class="col-md-offset-5"  name="sec2" type="number" /></td>
                }
                else
                {
                    <td id="sectionRow-@r-sec2-@i"><input class="col-md-offset-5" name="sec2" type="number" /></td>
                }


            }
            @for (int i = 0; i < 3; i++)
            {
                <td id="sectionRow-@r-sec3-@i"><input class="col-md-offset-5" name="sec3" type="number" /></td>
            }
        </tr>
        }

        @for (int r = 4; r < 7; r++)
        {
            <tr class="sectionRow-@r">

                @for (int i = 0; i < 3; i++)
                {
                    if (i == 2)
                    {
                        <td id="sectionRow-@r-sec4-@i" class="sectionEnd"><input class="col-md-offset-5" name="sec4" type="number" /></td>
                    }
                    else
                    {
                        <td id="sectionRow-@r-sec4-@i"><input class="col-md-offset-5" name="sec4" type="number" /></td>
                    }
                }
                @for (int i = 0; i < 3; i++)
                {
                    if (i == 2)
                    {
                        <td id="sectionRow-@r-sec5-@i" class="sectionEnd"><input class="col-md-offset-5" name="sec5" type="number" /></td>
                    }
                    else
                    {
                        <td id="sectionRow-@r-sec5-@i"><input class="col-md-offset-5" name="sec5" type="number" /></td>
                    }


                }
                @for (int i = 0; i < 3; i++)
                {
                    <td id="sectionRow-@r-sec6-@i"><input class="col-md-offset-5" name="sec6" type="number" /></td>
                }
            </tr>
        }

        @for (int r = 7; r < 10; r++)
        {
            <tr class="sectionRow-@r">
                @for (int i = 0; i < 3; i++)
                {
                    if (i == 2)
                    {
                        <td id="sectionRow-@r-sec7-@i" class="sectionEnd"><input class="col-md-offset-5" name="sec7" type="number" /></td>
                    }
                    else
                    {
                        <td id="sectionRow-@r-sec7-@i"><input class="col-md-offset-5" name="sec7" type="number" /></td>
                    }
                }
                @for (int i = 0; i < 3; i++)
                {
                    if (i == 2)
                    {
                        <td id="sectionRow-@r-sec8-@i" class="sectionEnd"><input class="col-md-offset-5" name="sec8" type="number" /></td>
                    }
                    else
                    {
                        <td id="sectionRow-@r-sec8-@i"><input class="col-md-offset-5" name="sec8" type="number" /></td>
                    }


                }
                @for (int i = 0; i < 3; i++)
                {
                    <td id="sectionRow-@r-sec9-@i"><input class="col-md-offset-5" name="sec9" type="number" /></td>
                }
            </tr>
        }
    </table>
        <br />

        <input class="col-md-offset-2 col-md-2" type="submit" value="submit"  />
        }
</div>
